<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="{% url 'home' %}">Sandeep Kumar</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
      {% if request.user.is_authenticated %}
        <li class="nav-item">
          <!-- <a class="nav-link" href="{% url 'change-password' %}">{{request.user}}</a> -->
          <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" type="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              {{request.user}}
            </a>
            <ul class="dropdown-menu py-0" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'home' %}">Profile</a></li>
              <li><a class="dropdown-item" href="{% url 'change-password' %}">Change Password</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
        </li>
      {% endif %}   
      </ul>
    </div>
  </div>
</nav>