{% extends 'LogInOut/base.html' %}

{% block title %}Password Reset Done{% endblock title %}

{% block main_content %}
   <section class="container">
       <div class="row justify-content-around mt-5">
           <div class="col-sm-5 py-5 bg-white text-center rounded">
               <h3 class="text-success">Your password has been set successfully.</h3>
               <a href="{% url 'login' %}" class="btn btn-primary mt-2">Login</a>
           </div>
       </div>
   </section>
{% endblock main_content %}