{% extends 'LogInOut/base.html' %}

{% block title %}Password Reset Cofirm{% endblock title %}

{% block main_content %}
  <div class="container">
      {% comment %} <div class="row justify-content-around mt-5">
          <div class="col-sm-6">
              <h3 class="text-white text-center">Set New Password</h3>
          </div>
      </div> {% endcomment %}
      <div class="row my-3 justify-content-around">
          <div class="col-sm-6">
              <form class="bg-white my-3 p-3 rounded" action="" method="post">
                  {% csrf_token %}
                  <div class="row justify-content-around my-3">
                      <div class="col-sm-8">
                          <h3 class="text-dark fs-2 text-center">Set New Password</h3>
                      </div>
                  </div>
                  {% if messages %}
                    {% for message in messages %}
                       <div class="alert alert-warning alert-dismissible fade show" role="alert">
                         <strong>{{message}}</strong>
                         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                       </div>
                    {% endfor %}
                  {% endif %}
                  {% for fm in form %}
                    <div class="mb-3">
                     {{fm.label_tag}}
                     {{fm}}
                     <small class="text-danger">{{fm.errors|striptags}}</small>
                  </div>
                  {% endfor %}
                  {% comment %} <input type="submit" value="Continue" class="btn btn-primary my-2"> {% endcomment %}
                  <div class="row justify-content-around ">
                    <input type="submit" value="Continue" class="col-md-10  col-sm-10 col-10 col-lg-10 btn btn-primary my-3">       
                  </div>    
              </form>
          </div>
      </div>
  </div>
{% endblock main_content %}