{% extends 'LogInOut/base.html' %}

{% block title %}Reset Password{% endblock title %}

{% block main_content %}
  <div class="container">
      {% comment %} <div class="row justify-content-around mt-5">
          <div class="col-sm-6">
              <h3 class="text-white text-center">Reset Password</h3>
          </div>
      </div> {% endcomment %}
      <div class="row my-3 justify-content-around">
          <div class="col-sm-6">
              <form class="bg-white my-5 p-3 rounded" action="" method="post">
              <div class="row justify-content-around mt-3">
                  <div class="col-sm-6">
                      <h3 class="text-dark fs-2 text-center">Reset Password</h3>
                  </div>
              </div>
                  {% csrf_token %}
                  {% if messages %}
                    {% for message in messages %}
                       <div class="alert alert-warning alert-dismissible fade show" role="alert">
                         <strong>{{message}}</strong>
                         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                       </div>
                    {% endfor %}
                  {% endif %}
                  {% for fm in form %}
                     {{fm.label_tag}}
                     {{fm}}
                     <small class="text-danger">{{fm.errors|striptags}}</small>
                  {% endfor %}
                  {% comment %} <input type="submit" value="Continue" class="btn btn-primary my-2"> {% endcomment %}
                  <div class="row justify-content-around  ">
                    <input type="submit" value="Continue" class="col-md-8  col-sm-8 col-8 col-lg-8 btn btn-primary mt-3">
                  </div>
              </form>
          </div>
      </div>
  </div>
{% endblock main_content %}