body{
  background-color: #6d7579;
  background-image: url('/static/images/img.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  /* border: 1px solid red; */
}
.click__link{
    text-decoration: none;
}
.click__link:hover {
    text-decoration: underline;
}