body{
  background-color: #6d7579;
  background-image: url('/static/images/img.jpg'), url('/static/images/img1.jpg'), url('/static/images/bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* top: 56px; */
}
.click__link{
    text-decoration: none;
}
.click__link:hover {
    text-decoration: underline;
}